
body {
    background-color: rgb(254, 231, 246);
}

.stick {
    background-color: rgb(23, 95, 84);
    width: 20px;
    height: 150px;
    margin: auto;
    margin-bottom: 0px;
    
}

.light{
    width: 100px;
    height: 100px;
    border-radius:50%;
    }

.red {
    background-color: rgb(255, 0, 0);
}

.yellow{
    background-color: rgb(255, 238, 0) ;
    
}

.green{
    background-color: rgb(75, 255, 75);
}
.purple {
    background-color: purple;
}

.glow{
    box-shadow: 0 0 4rem 1rem lightgoldenrodyellow;
}

.traffic-light {
    align-content: center;
    background-color: rgb(14, 62, 55);
    width:126px;
    margin: auto;
    height: 355px;
    border-radius: 5px;
    padding: 12px;
    }

